body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}
.Login{
    margin: 0 auto;
    text-align: center;
    color:rgb(230, 201, 166);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conversation {
    margin: 0 auto;
    text-align: left;
    color:rgb(230, 201, 166);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.verdinho-bootstrap{

    background: linear-gradient(90deg, #DD9816 10%, #910B40 40%, #005092 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input.form-control {
    background-color: #454d55; /* Cor de fundo do input */
    color: #fff; /* Cor do texto do input */
    border-color: #454d55; /* Cor da borda do input */
}

input.form-control::placeholder {
    color: #ccc; /* Cor do texto de placeholder */
}

input.form-control:focus {
    background-color: #565e65; /* Cor de fundo alterada quando em foco */
    color: #fff;
    border-color: #565e65; /* Cor da borda alterada quando em foco */
}

.fonte-bemvindo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.entrada-de-dados{
    margin: 0 auto; /* Centraliza a div */
   
   }

.custom-bg{
    background-color: #212529;
}

.card{
    background-color: #212529;
}
.Btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color:  #8c0c44;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
    left: 10px;
  }
  
  .svgIcon {
    fill: rgb(214, 178, 255);
  }
  
  .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgb(182, 143, 255);
    border-left: 2px solid rgb(182, 143, 255);
    border-right: 2px solid rgb(182, 143, 255);
  }
  
  .tooltip {
    position: absolute;
    right: -105px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: .3s;
  }
  
  .Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
  }
  
  .Btn:hover {
    background-color: rgb(150, 94, 255);
    transition-duration: .3s;
  }
  
  .Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
  }
  
  .Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .btnlogin {
    --color: #000000;
    padding: 0.3em 1.7em;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    color: var(--color);
    z-index: 1;
    height: 40px;
   }
   .btnlogin::before, .btnlogin::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .btnlogin::before {
    top: -1em;
    left: -1em;
   }
   
   .btnlogin::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .btnlogin:hover::before, .btnlogin:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .btnlogin:hover {
    color: white;
   }
   
   .btnlogin:active {
    filter: brightness(.8);
   }
   
   